.business-card {
  width: 350px;
  border: 1px solid transparent;
  color: #352D28;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 4px -8px rgba(0,0,0,0.75);
  justify-content: space-between;
}

.business-card img {
  width: 100%;
  object-fit: contain;
  border-radius: 4px 4px 0 0;
}

.container-info {
  line-height: 1.3;
}

.container-info a {
  color: #8C5B3D;
  font-weight: bold;
  text-decoration: none;
}

.container-info a:hover {
  text-decoration: underline;
}

.business-card h2 {
  color: #8C5B3D;
}

@media (max-width: 750px) {
  .business-card {
    width: 300px;
  }
}

@media (max-width: 650px) {
  .business-card {
    width: 260px;
  }
}

@media (max-width: 570px) {
  .business-card {
    width: 100%;
  }
}